server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    pipeline_stages:
      - docker:
    static_configs:
      - targets:
          - varlogs
        labels:
          job: varlogs
          host: localhost
          __path__: /var/log/*.log

  - job_name: potatoLogsJob
    pipeline_stages:
      - docker:
    static_configs:
      - targets:
          - potato
        labels:
          job: application
          host: localhost
          __path__: /var/log/app/*.json
