@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount = 0;

    [Inject] private ILogger<Counter> Logger { get; set; } = null!;

    private void IncrementCount()
    {
        _currentCount++;
        Logger.LogInformation("Counter incremented to @{count}", _currentCount);
    }
}
